<div class="container-fluid">
  <app-page-title title="Danh sách nhân sự" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!--  filter start-->
  <div class="row" [formGroup]="this.searchForm">
    <div class="col-3">
      <label for="keyword">Từ khoá tìm kiếm</label>
      <input [formControlName]="FORM_FIELDS.keyword" nz-input id="keyword" placeholder="Tìm kiếm họ và tên">
    </div>
    <div class="col-3 d-flex align-items-end">
      <button nz-button nzType="default" (click)="onCreateIndex()">Đánh index </button>
    </div>
  </div>
  <div>
    <!-- Table -->
    <nz-table #nzTable
              [nzData]="searchResult"
              [nzVirtualItemSize]="54"
              [nzFrontPagination]="false"
              [nzShowPagination]="false"
              [nzBordered]="true"
              [nzVirtualForTrackBy]="trackByIndex"
              [nzScroll]="{ x: '1000px', y: '440px' }"
    >
      <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th>Mã nhân viên</th>
        <th>Tên nhân viên</th>
        <th>Phòng ban</th>
        <th>Thông tin liên lạc</th>
        <th>Trạng thái nhân sự</th>
        <th>Vai trò</th>
        <th nzWidth="80px" nzRight></th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let data of nzTable.data">
        <tr>
          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          <td>{{ data?.code | nzSafeNull: '-'  }}</td>
          <td>{{ data?.fullName | nzSafeNull: '-' }}</td>
          <td>{{ data?.departmentName | nzSafeNull: '-' }}</td>
          <td>
            <span>{{ data?.email | nzSafeNull: '-' }}</span> <br/>
            <span>{{ data?.phoneNumber | nzSafeNull: '-' }}</span>
          </td>
          <td>
            {{data.status | nzSafeNull: '-'}}
          </td>
          <td>
            {{data?.role?.name | nzSafeNull: '-'}}
          </td>
          <td nzWidth="80px" nzRight>
            <button nz-button nzType="default" nzShape="circle"
                    nz-dropdown [nzDropdownMenu]="menu"
                    nzPlacement="bottomRight"
            >
              <span nz-icon nzType="ellipsis"
                    nzTheme="outline"></span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="onDetail(data?.id)">
                  <span nz-icon nzType="eye" nzTheme="outline"></span>Xem chi tiết
                </li>
                <li nz-menu-item (click)="onUpdate(data?.id)">
                  <span nz-icon nzType="edit" nzTheme="outline"></span>Cập nhật
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
        <tr [nzExpand]="expandSet.has(data.id)">
          <span>{{ data.description }}</span>
        </tr>
      </ng-container>
      </tbody>
    </nz-table>
    <!-- End table -->
  </div>
</div>

